
@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$h1-font: 'PT Serif', serif;
$p-font: 'Poppins', sans-serif;
$footer-font: 'Montserrat', sans-serif;
$font-color: #000000;
$font-color-footer: #BDBDBD;

.Body {
    font-size: 18px;
    color: $font-color;
}
.Header {
    display: flex;
    flex-direction: column;
    /* padding: 0 .5em; */
    margin: 4em auto 2em auto;
    width: 85%;
    &-h1 {
        font-family: $h1-font;
        font-weight: 700;
        font-size: 2.5em;
        @media (min-width: 1100px) {
            width: 50vw;
        }
    }
    @media (min-width: 1100px) {
        flex-direction: row;
    }
}
.Header-content {
    font-family: $p-font;
    &-h2 {
        font-weight: 600;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 2.5em;
        @media (min-width: 1100px) {
            padding-top: 0;
        }
    }
    &-p {
        font-weight: 400;
        font-size: .78em;
        padding: .7em 0;
        line-height: 1.5em;
    }
    @media (min-width: 1100px) {
        width: 50vw;
    }
}
.Crew {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: .5em;
    margin: 0 .5em;
    width: 85%;
    margin: 0 auto 150px auto;
    > :nth-child(1),
    :nth-child(3),
    :nth-child(5) {
        margin-top: 0;
        justify-content: left;
    }
    > :nth-child(2),
    :nth-child(4),
    :nth-child(6) {
        margin-top: 3.5em;
        justify-content: right;
    }
    @media (min-width: 700px) {
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        > :nth-child(1),
        :nth-child(4) {
            margin-top: 0;
            justify-content: left;
        }
        > :nth-child(2),
        :nth-child(5) {
            margin-top: 3.5em;
            justify-content: center;
        }
        > :nth-child(3),
        :nth-child(6) {
            margin-top: 0;
            justify-content: right;
        }
    }
}
.CrewMember {
    display: flex;
}
.Portrait {
    width: 70%;
}
.Name {
    margin-top: 5px;
    font-family: $p-font;
    font-weight: 600;
    font-size: 14px;
}
.Position {
    font-family: $h1-font;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}
.Footer {
    width: 100vw;
    &-p {
        text-align: center;
        font-family: $footer-font;
        color: $font-color-footer;
        font-weight: 500;
        font-size: 14px;
    }
    &-a {
        text-decoration: underline;
        font-weight: bold;
    }
}